aside.aside
    .category
        .category-item
            .acc-head.acc-head-active
                | Бытовая техника
            ul.acc-content
                li
                    a(href="").active Микроволновки
                li
                    a(href="") Холодильники
                li
                    a(href="") Посудомоечные машины
                li
                    a(href="") Чайники
        .category-item
            .acc-head
                | Мобильная техника
            .acc-content

        .category-item
            .acc-head
                | Компьютеры
            .acc-content

        .category-item
            .acc-head
                | Одежда
            .acc-content

        .category-item
            .acc-head
                | Недвижимость
            .acc-content
    a(href="").aside-documents
        .aside-documents-img
            img(src=require("../../../assets/img/aside/word.jpg") alt="")
            img(src=require("../../../assets/img/like.png") alt="")

        .aside-documents-text
            p Прайс-лист
