.catalog
    .catalog-list
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
        include ../../components/product/product
    .pagination
        a(href="").pagination-link 1
        a(href="").pagination-link 2
        a(href="").pagination-link.current 3
        a(href="").pagination-link 4
        a(href="").pagination-link 5
        a(href="").pagination-link 6
        a(href="").pagination-link 7
    .catalog-dscr
        .catalog-dscr-txt
            p Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде.характерные для этого жанра мотивы: неразделённой любви, ухода молодости, угасания души.
        .catalog-dscr-txt
            p Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.