.section
    .breadcrumbs
        a(href="").breadcrumbs-links
            | Главная
        a(href="").breadcrumbs-links
            | Каталог
        .breadcrumbs-links
            | Бытовая техника
    .content
        include aside
        include catalog