.section
    .content
        .content-body
            .Title
                | Наши лучшие предложения
            include offers
            .content-body-controls
                a(href="").button.brand
                    | все предложения
        aside.content-aside
            include aside