.offers
    include ../../components/offer/offer
    include ../../components/offer/offer
    include ../../components/offer/offer
    include ../../components/offer/offer
    include ../../components/offer/offer
    include ../../components/offer/offer
