.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    height: 34px;
    border: 1px solid var(--greyLight);
    cursor: pointer;
    img {
        transition: opacity .3s;
    }
    &:hover img {
        opacity: .8;
    }
}