.dotBtn {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 50%;
    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color .2s;
    }
    &.current {
        &::after {
            background-color: var(--violet);
        }
    }
}