.gallery.Wallop.Wallop--slide
    .Wallop-list
        - var n = 1
        while n <= 5
            .Wallop-item
                .gallery-img
                    img(src=require("../../../assets/img/gallery/photo.jpg") alt=n++)
    .gallery-controls
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn