.advantages
    .section
        .advantages-row
            .advantages-item
                .advantages-icon
                    img(src=require("../../../assets/img/advantages/price.png") alt="")
                .advantages-overlay
                    .advantages-title
                        | Выгодные цены
                    .advantages-dscr
                        p Мы работаем с большим количеством туроператоров, что позволяет нам найти для Вас самый выгодный вариант.
            .advantages-item
                .advantages-icon
                    img(src=require("../../../assets/img/advantages/actual.png") alt="")
                .advantages-overlay
                    .advantages-title
                        | Актуальность
                    .advantages-dscr
                        p Мы постоянно обновляем наши туры в зависимости от сезона и требований наших клиентов. Следите за обновлениями!
            .advantages-item
                .advantages-icon
                    img(src=require("../../../assets/img/advantages/garant.png") alt="")
                .advantages-overlay
                    .advantages-title
                        | Надежность
                    .advantages-dscr
                        p Работая с множеством туроператоров, мы не забываем о надежности и стабильности наших партнеров
            .advantages-item
                .advantages-icon
                    img(src=require("../../../assets/img/advantages/quality.png") alt="")
                .advantages-overlay
                    .advantages-title
                        | Выгодные цены
                    .advantages-dscr
                        p Мы отслеживаем рейтинги отелей и отзывы о них, чтобы предложить вам самый лучший вариант.