.news
    .news-block
        .news-date
            | 01.03.2016
        .news-title
            | Национальный стенд Узбекистана будет представлен на ITB Berlin-2016
        .news-dscr
            | Работая с множеством туроператоров, мы не забываем о надежности и стабильности наших партнеров.

    .news-block
        .news-date
            | 15.01.2016
        .news-title
            | Новый эпизод программы «Открытки из Узбекистана» на Euronews
        .news-dscr
            | Работая с множеством туроператоров, мы не забываем о надежности и стабильности наших партнеров.
    a(href="").link-default
        | Все новости