:root {
    --violet: #8546a7;
    --violetDark: #572c6e;
    --green: #5bb962;
    --bright: #f2eacc;
    --yellow: #f5df00;
    --greyLight: #ededed;
    --grey: #828282;
    --greyDark: #3a3a3a;


    --helveticaLight: 'HelveticaLight', sans-serif;
    --helveticaRegular: 'HelveticaRegular', sans-serif;
    --helveticaBold: 'HelveticaBold', sans-serif;
    --helveticaBlack: 'HelveticaBlack', sans-serif;
}