.reviews
    .section
        .reviews-slider.Wallop.Wallop--slide
            .Wallop-list
                .Wallop-item.reviews-slide
                    include reviews-post
                .Wallop-item.reviews-slide
                    include reviews-post
                .Wallop-item.reviews-slide
                    include reviews-post
                .Wallop-item.reviews-slide
                    include reviews-post
                .Wallop-item.reviews-slide
                    include reviews-post
            .reviews-controls
                button.reviews-dot.dotBtn
                button.reviews-dot.dotBtn
                button.reviews-dot.dotBtn
                button.reviews-dot.dotBtn
                button.reviews-dot.dotBtn

                button.reviews-arrow.left.Wallop-buttonPrevious
                button.reviews-arrow.right.Wallop-buttonNext