.reviews-post
    .reviews-img
        img(src=require("../../../assets/img/reviews/avatar.png") alt="")
    .reviews-text
        .reviews-date
            | 14.03.2016
        .reviews-title
            | Свадебное путешествие
        .reviews-dscr
            | Спасибо большое Нигоре за то, что в наш небольшой бюджет подобрала хороший отель для медового месяца! Не смотря на то,что отель был 3* впечатление произвел отличное. Мы очень переживали, но зря! За 12 дней отпуска мы не разу не пожалели,что выбрали именно его.
        .reviews-autor
            | Наталья и Дмитрий

.reviews-post
    .reviews-img
        img(src=require("../../../assets/img/reviews/avatar.png") alt="")
    .reviews-text
        .reviews-date
            | 22.03.2016
        .reviews-title
            | Отдых в Аланьи
        .reviews-dscr
            | Отдыхали в Турции. Все очень понравилось: номер чистый, убирались каждый день. Питание отличное, развлечений достаточно, персонал добродушный, русскоговорящий, пляж и море чистые.
        .reviews-autor
            | Кульдяева Ирина