.reviews
    .section
        .reviews-slider.Wallop.Wallop--slide
            .Wallop-list
                .Wallop-item.reviews-slide
                    .reviews-post
                        .reviews-img
                            img(src=require("../../../assets/img/reviews/avatar.png") alt="")
                        .reviews-text

                .Wallop-item
                    .reviews-post
                        .reviews-img
                            img(src=require("../../../assets/img/reviews/avatar.png") alt="")
                        .reviews-text
            .reviews-controls
                button.reviews-dot.dotBtn
                button.reviews-dot.dotBtn