.footer {
    &-bottom {
        display: flex;
        align-items: flex-start;
    }
    .Title {
        margin-bottom: 17px;
        color: #fff;
    }
    &-location {
        max-width: 330px;
        margin-right: 60px;
        &-row {
            position: relative;
            padding-left: 40px;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &-img {
            position: absolute;
            top: 5px;
            left: 14px;
        }
        &-text {
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            color: #fff;
        }
        a {
            text-decoration: underline;
            color: #fff;
        }
        .button {
            margin-top: 20px;
        }
    }
    &-weather {
        margin-right: 38px;
        .weather {
            width: 458px !important;
            height: 239px !important;
            padding: 0 10px;
        }
    }
}

@media (max-width: 1140px) {
    .footer {
        &-bottom {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &-location {
            order: 1;
            margin-right: 0;
        }
        &-weather {
            order: 3;
            margin: 20px auto 0;
        }
        &-facebook {
            order: 2;
        }
    }
}

@media (max-width: 510px) {
    .footer {
        &-bottom {
            justify-content: center;
        }
        &-weather {
            display: none;
        }
        &-facebook {
            margin-top: 20px;
        }
    }
}