.stock {
    &::after {
        content: attr(data-stock);
        position: absolute;
        top: 15px;
        left: -5px;
        padding: 9px 10px;
        font-family: var(--helveticaLight);
        color: #fff;
        background-color: var(--green);
        transition: .3s;
    }
    &:hover {
        &::after {
            left: 0;
        }
    }
}