.Title {
    width: 100%;
    font-size: 32px;
    font-family: var(--helveticaLight);
    line-height: 32px;
    color: var(--violet);
    &.medium {
        font-size: 26px;
    }
    &.small {
        font-size: 20px;
    }
}