.nav-submenu
    a(href="").nav-submenu-link
        | Ташкент
    a(href="").nav-submenu-link
        | Бухара
    a(href="").nav-submenu-link
        | Самарканд
    a(href="").nav-submenu-link
        | Хива
    a(href="").nav-submenu-link
        | Шахрисабз
    a(href="").nav-submenu-link
        | Каракалпакстан
    a(href="").nav-submenu-link
        | Ферганская долина
    a(href="").nav-submenu-link
        | Мирзачуль