button.menu-btn.hamburger
    img(src=require('../../../assets/icons/menu.png') alt="")
nav.menu-navigation
    .menu-navigation-item
        a(href="").menu-navigation-link
            | Главная
    .menu-navigation-item
        a(href="").menu-navigation-link.arrow
            | О нас
        .menu-navigation-submenu