nav.nav
    .nav-item
        a(href="").nav-link
            | Главная
    .nav-item
        a(href="").nav-link.arrow
            | О нас
        include menu-submenu
    .nav-item
        a(href="").nav-link.arrow
            | Туры по миру
        include menu-submenu
    .nav-item
        a(href="").nav-link.arrow
            | Узбекистан
        include menu-submenu
    .nav-item
        a(href="").nav-link
            | Круизы
    .nav-item
        a(href="").nav-link
            | Новости
    .nav-item
        a(href="").nav-link
            | Контакты