.menu
    .section
        .menu-row
            button.hamburger
                img(src=require('../../../assets/icons/menu.png') alt="")
            .menu-navigation
                include menu-navigation
                include menu-search
            button.button.brand
                | оставить заявку