.menu-search.search
    .search-input
        input(type="search" placeholder="Город, регион или ключевое слово")
    button.search-btn
        img(src=require("../../../assets/icons/search.png") alt="")