.menu
    .section
        ul.menu-list
            li.menu-item
                a(href="")
                    | Главная
            li.menu-item
                a(href="")
                    | Каталог
            li.menu-item
                a(href="")
                    | Доставка и оплата
            li.menu-item
                a(href="")
                    | Прайс-лист
            li.menu-item
                a(href="")
                    | Контакты