.copyright
    .section
        .copyright-row
            .copyright-block
                p ©2016 Elite Magic Tour. Все права защищены
            .copyright-block
                p Создание сайта - Компания “Контраст”
                .copyright-metrics
                    img(src=require("../../../assets/img/copyright/metrics.jpg") alt="")