.offer.stock(data-stock="СКИДКА -14%")
    .offer-img
        img(src=require("../../../assets/img/offer/offer.jpg") alt="")
    .offer-body
        a(href="").offer-title
            | Исторический тур по Анатолии
        a(href="").offer-subtitle
            | Турция, Анатолия
        .offer-date
            p 01.05.2016 - 08.05.2016
        .offer-row
            .offer-days
                | 8 дней
            .offer-price
                | от 600 т.сум /чел
    .offer-overlay
        a(href="").offer-link
            | Подробнее