.about {
    background:  url("../assets/img/about/stars-left.png") left center no-repeat, url("../assets/img/about/stars-right.png") right center no-repeat;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 60px 0;
    }
    &-block {
        max-width: 555px;
    }
    &-title {
        margin-bottom: 25px;
        font-size: 32px;
        font-family: var(--helveticaLight);
        color: var(--violet);
    }
    &-txt {
        margin-bottom: 16px;
        font-weight: 300;
        line-height: 22px;
    }
}