.about {
    background:  url("../assets/img/about/stars-left.png") left center no-repeat, url("../assets/img/about/stars-right.png") right center no-repeat;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 60px 0;
    }
    &-block {
        max-width: 555px;
    }
    &-txt {
        margin-bottom: 16px;
        font-weight: 300;
        line-height: 22px;
    }
}

@media (max-width: 767px) {
    .about {
        &-wrapper {
            display: block;
        }
        &-block {
            max-width: 100%;
        }
    }
}