extends ../../base
block main
    .container
        include ../../blocks/header/header
        include ../../blocks/menu/menu
        include ../../blocks/about/about
        include ../../blocks/advantages/advantages
        include ../../blocks/footer/footer