extends ../../base
block main
    include ../../components/modal/modal
    include ../../blocks/header/header
    include ../../blocks/menu/menu
    include ../../blocks/content/content
    include ../../blocks/footer/footer
