.banner.Wallop.Wallop--fade
    .Wallop-list.banner-slider
        .section.Wallop-item.Wallop-item--current.banner-item
            img(src=require('../../../assets/img/banner/slide1.png') alt="")
        .section.Wallop-item.banner-item
            img(src=require('../../../assets/img/banner/slide2.png') alt="")
    .banner-controls
        .section
            button.Wallop-buttonPrevious
                img(src=require('../../../assets/img/banner/btn-prev.jpg') alt="")
            button.Wallop-buttonNext
                img(src=require('../../../assets/img/banner/btn-next.jpg') alt="")