.banner.Wallop.Wallop--fade
    .Wallop-list.banner-list
        .Wallop-item.banner-item
            .section.banner-info
                .banner-subtitle
                    | латвия, литва, Эстония, Швеция, Финляндия
                .banner-title
                    | пять столиц балтики
                a(href="").button.brand.banner-link
                    | подробнее
        .Wallop-item.banner-item
            .section.banner-info
                .banner-subtitle
                    | другие страны
                .banner-title
                    | 2 слайд
                a(href="").button.brand.banner-link
                    | подробнее
        .Wallop-item.banner-item
            .section.banner-info
                .banner-subtitle
                    | другие страны
                .banner-title
                    | 3 слайд
                a(href="").button.brand.banner-link
                    | подробнее
        .Wallop-item.banner-item
            .section.banner-info
                .banner-subtitle
                    | другие страны
                .banner-title
                    | 4 слайд
                a(href="").button.brand.banner-link
                    | подробнее

    .banner-controls
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn


