mixin bannerItem(city, title)
    .Wallop-item.banner-item
        .section.banner-info
            .banner-subtitle=city
            .banner-title=title
            a(href="").button.brand.banner-link
                | подробнее
.banner.Wallop--fade
    .Wallop-list.banner-list
        +bannerItem('латвия, литва, Эстония, Швеция, Финляндия', 'пять столиц балтики')
        +bannerItem('другие страны', '2 слайд')
        +bannerItem('другие страны', '3 слайд')
        +bannerItem('другие страны', '4 слайд')

    .banner-controls
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn
        button.banner-dot.dotBtn