.footer-bottom
    .footer-location
        .Title.small
            | Как нас найти
        .footer-location-row
            .footer-location-img
                img(src=require("../../../assets/img/footer/location.png") alt="")
            .footer-location-text
                p 100031, г. Ташкент, Яккасарайский район Ул. Сарабустон, дом 3Б (Ориентир "Корзинка" МВД (бывший Туркменский))
                a(href="") Посмотреть на карте
        .footer-location-row
            .footer-location-img
                img(src=require("../../../assets/img/footer/phone.png") alt="")
            .footer-location-text
                p +998 90 949 72 27, +998 90 316 12 44
                p +998 93 550 54 45, +998 71 215 55 24
        .footer-location-row
            .footer-location-img
                img(src=require("../../../assets/img/footer/mail.png") alt="")
            .footer-location-text
                p elitemagictour@mail.ru
            button.button.brand
                | Написать нам
    .footer-weather
        .Title.small
            | Погода в Ташкенте
        #cont_a8e2b34ebca52f410f27af9a84ef2306.weather
            script(type="text/javascript" async src="https://www.pogoda.com/wid_loader/a8e2b34ebca52f410f27af9a84ef2306")
    .footer-facebook
        iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FElite-Magic-Tour-472564532926356%2F&tabs=timeline&width=248&height=285&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="248" height="285" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")