footer
    .section
        .footer
            .footer-copyright
                p © 2012–2013 ЗАО «Компания»
                a(href="") info@name.ru
            ul.footer-nav
                li
                    a(href="") Главная
                li
                    a(href="") Каталог
                li
                    a(href="") Доставка и оплата
                li
                    a(href="") Прайс-лист
                li
                    a(href="") Контакты
            .footer-logo
                .footer-logo-img
                    img(src=require("../../../assets/img/footer/footer-logo.png") alt="")
                .footer-logo-txt
                    span Разработка сайта
                    |  —
                    p компания «Пиксель Плюс»
