.footer-top
    .footer-logo
        img(src=require("../../../assets/img/footer/footer-logo.png") alt="")
    .footer-about
        | <span>"Elite Magic Tour"</span> - молодая, динамично развивающаяся туристическая компания, полная новых идей и предложений