.banner {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    &-list {
        width: inherit;
        height: inherit;
    }
    &-item {
        height: 100%;
        background: url("../assets/img/banner/cityBig.jpg") center center no-repeat;
    }
    &-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-left: 360px;
        font-family: var(--helveticaBlack);
        color: #fff;
        transition: padding-left .4s;
    }
    &-subtitle {
        padding: 7.5px 10px;
        background-color: var(--green);
    }
    &-title {
        padding: 15.5px 20px;
        font-size: 44px;
        text-transform: uppercase;
        background-color: rgba(0,0,0,.3);
        transition: font-size .4s;
    }
    &-link {
        padding: 10px 14px;
        margin-top: 10px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: inherit;
        background-color: var(--violet);
    }
    &-controls {
        position: absolute;
        bottom: 30px;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: bottom .4s;
    }
    &-dot {
        position: relative;
        width: 14px;
        height: 14px;
        margin: 0 10px;
        background-color: #fff;
        border-radius: 50%;
        &::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background-color: transparent;
            border-radius: 50%;
            transition: background-color .2s;
        }
        &-current {
            &::after {
                background-color: var(--violet);
            }
        }
    }
}

@media (max-width: 1140px) {
    .banner {
        &-info {
            padding-left: 290px;
        }
        &-title {
            padding: 15px 10px;
            font-size: 40px;
        }
    }
}

@media (max-width: 992px) {
    .banner {
        &-info {
            padding-left: 240px;
        }
        &-title {
            font-size: 36px;
        }
    }
}


@media (max-width: 767px) {
    .banner {
        &-info {
            justify-content: flex-end;
            padding-bottom: 50px;
            padding-left: 15px;
        }
        &-title {
            font-size: 32px;
        }
    }
}

@media (max-width: 568px) {
    .banner {
        &-title {
            font-size: 28px;
        }
    }
}

@media (max-width: 480px) {
    .banner {
        &-subtitle,&-title {
            width: 100%;
        }
        &-title {
            padding: 8px 10px;
            font-size: 24px;
        }
        &-controls {
            bottom: 15px;
        }
    }
}