.offers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .offer {
        margin-right: 30px;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 1200px) {
    .offers {
        justify-content: center;
        .offer {
            margin-left: 30px;
            &:nth-of-type(3n) {
                margin-right: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .offers {
        .offer {
            margin-left: 5px;
            margin-right: 5px;
            &:nth-of-type(3n) {
                margin-right: 5px;
            }
        }
    }
}
