header
    .section
        .header
            .header-logo
                img(src=require("../../../assets/img/header/logo.png") alt="Логотип крутой компании")
            .header-info
                .header-phone
                    p +7(499) 777-77-77
                .header-phone
                    p +7(499) 777-77-77
                button.header-callback
                    | Обратная связь