.header-info
    .header-info-row.phone
        .header-info-img
            img(src=require("../../../assets/icons/phone.png") alt="")
        span +998 <span class="fontBolder">71 215 55 24</span>,
        span  +998 <span class="fontBolder">93 550 54 45</span>
    .header-info-row.mail
        .header-info-img
            img(src=require("../../../assets/icons/mail.png") alt="")
        a(href="mailto:elitemagictour@mail.ru") <span class="fontBolder">elitemagictour</span>@mail.ru