.product
    .product-img
        img(src=require("../../../assets/img/product/product.jpg") alt="Продукт")
    .product-dscr
        p Самый клевый чайник, который надо купить!
    .product-ctrls
        .product-price
            p 1 900 р.
        button.product-btn
            img(src=require("../../../assets/img/product/cart.png") alt="Продукт")